﻿@model Image.Models.ImageModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="UploadImage" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div>
        <label asp-for="Title" class="col-form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title" />
    </div>
    <div>
        <input type="file" id="file1" asp-for="File" multiple="multiple" />
    </div>
    <button type="submit">Upload File(s)</button>
</form>

<h1>@ViewBag.ImageTitle</h1>
<img src="@ViewBag.ImageDataUrl" height="80" width="80" />